[submodule "jwt_validator/lib/forge-std"]
	path = jwt_validator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test1/lib/forge-std"]
	path = test1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
